<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Braintree Transaction</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/app.css" th:href="@{/css/app.css}" />
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}"/>

</head>
<body>
<header class="main">

</header>

<div class="wrapper">
    <div class="response container">
        <div class="content">
            <div class="icon">
                <img  src="/images/success.svg" th:src="@{/images/success.svg}" alt="" />
            </div>
                <h1>Success!</h1>
                <section>Your test transaction has been successfully processed.</section>

            <section>
                <a class="button primary back" href="/api/v1/payment/new">
                    <span>Test Another Transaction</span>
                </a>
            </section>
        </div>
    </div>
</div>

</body>
</html>
